.content-wrapper {
  border: 1px solid red;
}
.content{
  background-color: khaki;
}
p {
  font-size: 30px;
}
h1 {
  font-size: 50px;
}

.bodyAboutUs{
  width: 90%;
  margin: auto;
  background-color: beige;
}