.content-wrapper {
  border: 1px solid red;
}
.img-size {
  width: 400px;
  height: 400px;
}
.margin-auto {
  margin: auto;
}
td, th{
  padding: 50px;
  font-size: 40px;
}
tr:nth-child(2n+1){
  background-color:whitesmoke;
}
table {
  border: 20px double blanchedalmond;
}